DB_HOST=db
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

SPOONACULAR_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
LIBRETRANSLATE_URL=http://libretranslate:5000
ENABLE_INPUT_TRANSLATION=true
ENABLE_OUTPUT_TRANSLATION=true
TRANSLATION_PROVIDER=libretranslate

# Background job API key (separada de la de producción)
SPOONACULAR_KEY_BACKGROUND=

# Recipe preload settings
RECIPES_TABLE_ENABLED=true
TRANSLATION_DAILY_LIMIT=150
TRANSLATION_SEARCH_TERMS=5